{% extends 'base.html' %}

{% load specifications %}
{% block content %}
    <div class='mt-5 mb-5'>
        <div class='container'> 
            <div class='row'>


                <div class='col-md-4'>
                    <img src='{{ product.image.url }}' class='img-fluid'>
                </div>
                <div class='col-md-8'> 
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'base' %}">Главная</a></li>
                            <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{product.title}}</li>
                        </ol>
                    </nav>
                    <h3> {{product.title}} </h3>
                    <p> Цена: {{product.price}} руб. </p>
                    <p> Описание: {{ product.description}}</p>
                    <hr>

                    <a class='btn btn-danger' href='{% url 'add_to_cart' ct_model=ct_model slug=product.slug %}'>Добавить в корзину</a>
                    
                </div>
                <div class='mt-5'>
                    <h4>Характеристики: </h4>
                    {{ product|product_spec|safe }}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}